<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>

        <link rel="stylesheet" href="/public/css/style.css">
        <link rel="stylesheet" href="/public/css/header_home_page.css">
        <link rel="stylesheet" href="/public/css/footer.css">
        <link rel="stylesheet" href="/public/css/content_user_page.css">

    </head>
    <body>
        <!-- Header -->
        <%- include('../partials/header') %>
        
        <!--Container-->
        <div id="content">
            <div class="container">
                <div class="main-body"> 
                      <!-- /Breadcrumb -->
                  <div class="row gutters-sm">
                        <div class="col-md-4 mb-3">
                          <div class="card">
                            <div class="card-body">
                              <div class="d-flex flex-column align-items-center text-center">
                                <img src="/public/img/user/cat1.jpg" alt="Admin" class="rounded-circle" width="150">
                              </div>
                            </div>
                          </div>
                          <div class="card mt-3">
                            <div class="balance-content-wraper">
                              <label class="balance-title">
                                Số tiền trong tài khoản
                              </label>
                              <p class="balance"> <%= new Intl.NumberFormat(["ban", "id"]).format(user.balance) %> VND</p>
                            </div>
                          </div>

                          <div class="card mt-3">
                            <div class="deposit-content-wraper">
                              <label class="deposit-title">
                                Nạp tiền vào tài khoản
                              </label>
                              <div class="input-amount-content">
                                <input type="text" name="deposit" id="input-amount" placeholder="ex: 1000000">
                                <p class="monetary">VND</p>
                              </div>
                              
                              <button class="deposit-btn">Nạp</button>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-8">
                          <div class="card mb-3">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <%= user.ten_khach_hang %>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Gender</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <%= user.gioi_tinh %>
                                </div>
                              </div>
                              <hr>
                              
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Birthday</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= user.ngay_sinh %>
                                </div>
                              </div>
                              <hr>

                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <%= user.email %>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <%= user.sdt %>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <%= user.dia_chi %>
                                </div>
                              </div>
                              <hr>
                              <div class="row">
                                <div class="col-sm-12">
                                  <a class="btn btn-info " target="__blank" href="#">Edit</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
            
                  <div class="card mt-3 list-ticket-booked-commingSoon">
                    
                    <div class="list-ticket-title" style="margin-left: 10px; margin-top: 10px;">
                      <h3 style="font-weight: bold;">Các chuyến bay sắp tới</h3>
                    </div>

                    <div class="ticket">
                      <div class="part-left">
                        <div class="flight-offer-details">
                          <div class="route-date-time">
                            <div class="time-airport">
                              <div class="time">15 Thg 11, 06:30
                              </div>
                              <div class="airport">
                                HAN (Hà Nội)
                              </div>
                            </div>
                            <div class="icon-arrow">
                              <img src="/public/img/user/aircraft.png">
                            </div>
                            <div class="time-airport">
                              <div class="time">15 Thg 11, 06:30
                              </div>
                              <div class="airport">
                                HAN (Hà Nội)
                              </div>
                            </div>
                          </div>

                          <div class="duration-stop">
                            1 tiếng 30 phút
                          </div>
                        </div>

                        <div class="plane-details">
                          <div class="details" style="display: inline-block;">
                            <div style="display: flex; align-items: center;">
                              <img src="/public/img/user/VN.png" style="width: 20px; height:20px; display: inline-block; align-self: center;">
                              <p class="flight-code" style="display: inline-block; margin-left: 5px;">UET 283749</p>
                            </div>
                            <p class="plane-name" style="font-weight: bold;">ATA 3632</p>
                          </div>
                        </div>
                      </div>

                      <div class="part-right">
                        <!-- <div class="price-content-wrapper">
                          <button class="buy-ticket-btn economy">
                              <div class="ticket-adult">
                                <label style="font-size: 15px;">Người lớn</label>
                                <p style="font-size: 20px;">1.000.000VND</p>
                              </div>

                              <div class="ticket-chilren">
                                <label style="font-size: 15px;">Tre em</label>
                                <p style="font-size: 20px;">500.000VND</p>
                              </div>
                              
                              <div class="quantity-remain">
                                <p style="text-align: left; margin-left: 5px;">Còn 56 ghế</p>
                              </div>
                            </button>
                        </div>

                        <div class="price-content-wrapper">
                              <button class="buy-ticket-btn business">
                                  <div class="ticket-adult">
                                    <label style="font-size: 15px;">Người lớn</label>
                                    <p style="font-size: 20px;">2.000.000VND</p>
                                  </div>

                                  <div class="ticket-chilren">
                                    <label style="font-size: 15px;">Trẻ em</label>
                                    <p style="font-size: 20px;">1.000.000VND</p>
                                  </div>
                                  
                                  <div class="quantity-remain">
                                    <p style="text-align: left; margin-left: 5px;">Còn 56 ghế</p>
                                  </div>
                                </button>
                        </div> -->

                        <div class="customer-order-details">
                          <p class="number-order">Người lớn: 1 người</p>
                          <p class="number-order">Trẻ em: 2 người</p>
                          <p class="number-order">Tổng ghế: 3 ghế</p>
                          <p class="number-order">Thành giá: 10.000.000 VND</p>
                        </div>

                        <div class="process-ticket">
                          <button class="pay-ticket unpaid">Thanh Toán</button>
                          <!-- <button class="pay-ticket paid">Đã Thanh Toán</button> -->
                          <button class="cancel-ticket">Hủy Vé</button>
                        </div>
                            
                      </div>
                        

                        
                    </div>

                  </div>
              </div>
            </div>
        </div>

        <!-- Footer -->
        <%- include ('../partials/footer') %>
    </body>
</html>